:root {
    --highlight: #c00;
    --theme-300: #BA8475;
    --theme-800: #FFF6f1;
    --theme-500: #ede9D0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
    letter-spacing: .2rem;
    font-family: sans-serif;
    position: relative;
    color: var(--theme-300);
    font-weight: bolder;
}

h1::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6ch;
    height: 5px;
    background: var(--theme-300);
    content: "";
}

a {
    color: var(--highlight);
    text-decoration: underline;
}

.recipe_form_content {
    margin-left: 1rem;
}

.code_block {
    position: relative;
    margin-left: 1em;
    padding-left: 1em;
    background-color: var(--theme-800);
    max-width: 80ch;
}

.code_block::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: .5em;
    background-color: var(--theme-300);
    content: "";
}

textarea {
    width: 90ch;
}

.code_block * {
    min-height: 0px;
}

sub {
    font-size: small;
    font-style: italic;
    color: darkgray;
    max-width: 75ch;
    display: block;
    line-height: 1em;
}

#submit {
    background-color: var(--highlight);
    color: var(--theme-800);
    padding: 1em;
    border: none;
    transition: transform .2s ease-in-out;
    font-weight: bolder;
}

.bounce {
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 1.5s;
}

#submit:hover {
    transform: scale(1.05);
}

#submit:active {
    transform: scale(1.1);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--theme-300);
    color: var(--theme-800);
    text-align: center;
    font-size: .8rem;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

label {
    position: relative;
}

label>.label {
    margin-left: 1em;
}


/* The slider. Much of this comes from W3 schools */

.slider {
    position: absolute;
    left: 0;
    top: 1px;
    cursor: pointer;
    height: 1em;
    width: 2em;
    background-color: var(--theme-500);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 0px;
    bottom: 0px;
    background-color: var(--theme-500);
    border-width: 3px;
    border-style: solid;
    border-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--highlight);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--highlight);
}

input:checked+.slider::before,
input:checked+.slider::after {
    -webkit-transform: translateX(1em);
    -ms-transform: translateX(1em);
    transform: translateX(1em);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(10px) rotate(0deg);
    }
    30% {
        opacity: 1;
        transform: translateY(-30px) rotate(-10deg);
    }
    60% {
        opacity: 1;
        transform: translateY(0px);
    }
    80% {
        transform: translateY(-10px) rotate(10deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}