{% extends "layout.html" %} {% block title %} Design Chef {% endblock %} {% block body %}
<h1 style="margin:.2em !important">The Design Chef</h1>

<div class="recipe_form_content">
    <sub>Create design recipes without all the hassle!</sub>
    <br>

    <form id="recipe_form">
        <!-- Get name for the data type -->
        <label for="name">Date Type Name:</label>
        <input type="text" id="name" name="name" onblur="makeArgName()">
        <br>
        <label for="arg_name">Arg Name:</label>
        <input type="text" id="arg_name" name="arg_name">
        <br>
        <!-- Determine the output to create -->
        <label for="is_enumerable">
            <input type="checkbox" id="is_enumerable" name="is_enumerable">
            <span class="slider"></span>
            <span class="label">Is an enumerable type? </span>
        </label><br>

        <h3> Output should have:</h3>
        <label for="should_create_data_definitions">
            <input type="checkbox" id="should_create_data_definitions" name="should_create_data_definitions">
            <span class="slider"></span>
            <span class="label">Definitions</span>
        </label><br>
        <label for="should_create_examples">
            <input type="checkbox" id="should_create_examples" name="should_create_examples">
            <span class="slider"></span>
            <span class="label">Examples</span>
        </label><br>
        <label for="should_create_template">
            <input type="checkbox" id="should_create_template" name="should_create_template">
            <span class="slider"></span>
            <span class="label">Template</span>
        </label><br>
        <br>
        <!-- Let user input the data types/examples -->
        <h3 style="margin-bottom: .2em;">Enter examples to generate output</h3>
        <sub>
            <p>
                Must be formatted as <span style="font-style: italic;">CSV</span> such as <code>"a","b","c"</code> or <code>1,2,3</code>.
                If you want the example constant name to be different from the value use the <code>name::value</code>
                format to specify an alternate value for the name of the constant
            </p>
        </sub>
        <textarea id="data_definitions" style="display: block;">
    
        </textarea>

        <br>
    </form>
    <br>
    <button type="button" onclick="uploadRecipe()" id="submit">Generate Design Recipe</button>

    <div class="code_block" id="response_div" style="opacity: 0;">
        <pre><code id="response_here">
    
        </code></pre>
    </div>
</div>

<div class="footer">
    2021, Will Walling-Sotolongo. See on <a href="https://github.com/ALearningCurve/DesignRecipeChef">GitHub</a>
</div>

<script>
    // On button click get the formatted response from the server
    function uploadRecipe() {
        document.getElementById("response_here").innerHTML = "Awaiting Response...";
        document.getElementById("response_div").style.opacity = "1";

        const form = new FormData(document.getElementById("recipe_form"))
        form.append("data_definitions", document.getElementById("data_definitions").value)
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            document.getElementById("response_here").innerHTML = this.responseText;
        }
        xhttp.onerror = function() {
            alert("Something went wrong");
            document.getElementById("response_here").innerHTML = "\
            <span style='color:red'>An error occured while trying processing your request</span>\
            ";
        }
        xhttp.open("POST", "/", true);
        xhttp.send(form);
    }

    function makeArgName($event) {
        const name = document.getElementById("name").value;
        const arg = document.getElementById("arg_name");
        const _arg_name = name.replace(/[a-z]/g, '');
        arg_name.value = _arg_name.toLowerCase();
    }

    function assignBounce() {
        element = document.getElementById("submit");

        element.addEventListener("click", function(e) {
            e.preventDefault;
            element.classList.remove("bounce");
            element.offsetWidth = element.offsetWidth;
            element.classList.add("bounce");
        }, false);
    }
    assignBounce();
</script>
{% endblock %}